# Yelp Data Set

In this series of practice problems we will explore the data set in "Yelp_Data.csv", which contains data from Yelp on various restaurants across the US. Our goal is to find every states favorite food among the following 4 categories:

- Pizza
- Mexican
- Burgers
- Chinese

Read in the dataset with na_values = ["NA"].  Then drop all rows (axis=0) with an NaN .

In [1]:
import pandas as pd
from pandasql import sqldf

#Write you code here
df_yelp = pd.read_csv("Data/Yelp_Data.csv", na_values=["NA"])
df_yelp.dropna(axis=0, inplace=True)

df_yelp.head()

,business_id,city,full_address,latitude,longitude,name,review_count,stars,state,type,...,Pakistani,Barbeque,Vietnamese,Asian Fusion,Diners,Greek,Vegetarian,Number_of_Checkins,Number_of_Tips,Number_of_Tip_Likes
0,5UmKMjUEUNdYWqANhGckJw,Dravosburg,"4734 Lebanon Church Rd Dravosburg, PA 15034",40.354327,-79.900706,Mr Hoagie,4,4.5,PA,business,...,0,0,0,0,0,0,0,0,0,0
1,UsFtqoBl7naz8AVUBZMjQQ,Dravosburg,"202 McClure St Dravosburg, PA 15034",40.350553,-79.886814,Clancy's Pub,4,3.5,PA,business,...,0,0,0,0,0,0,0,0,0,0
2,3eu6MEFlq2Dg7bQh8QbdOg,Dravosburg,"1 Ravine St Dravosburg, PA 15034",40.350956,-79.889059,Joe Cislo's Auto,3,5.0,PA,business,...,0,0,0,0,0,0,0,0,0,0
3,cE27W9VPgO88Qxe4ol6y_g,Bethel Park,"1530 Hamilton Rd Bethel Park, PA 15234",40.354116,-80.014660,Cool Springs Golf Center,5,2.5,PA,business,...,0,0,0,0,0,0,0,9,1,0
4,HZdLhv6COCleJMo7nPl-RA,Pittsburgh,"301 South Hills Village Pittsburgh, PA 15241",40.357620,-80.059980,Verizon,5,2.5,PA,business,...,0,0,0,0,0,0,0,0,0,0

Let's only look at states with at least 500 restaurants. Write an SQL query to find these states.

In [5]:
#Write your query to create df_yelp_2 below
key_states = sqldf("SELECT state, COUNT(state) as total_restuarants FROM df_yelp GROUP BY state HAVING total_restuarants>=500")
key_states

  state  total_restuarants
0    AZ              32533
1    BW                715
2   EDH               3176
3    IL                734
4    NC               6137
5    NV              21139
6    PA               3731
7    QC                851
8    WI               2796

Create a new dataframe called df_yelp_2, which only has data from restaurants in these states

In [6]:
df_yelp_2 = sqldf("SELECT * FROM df_yelp WHERE state IN ('AZ', 'NV', 'NC', 'PA', ' EDH', 'WI', 'QC', 'IL', 'BW') ")

df_yelp_2.head()

,business_id,city,full_address,latitude,longitude,name,review_count,stars,state,type,...,Pakistani,Barbeque,Vietnamese,Asian Fusion,Diners,Greek,Vegetarian,Number_of_Checkins,Number_of_Tips,Number_of_Tip_Likes
0,5UmKMjUEUNdYWqANhGckJw,Dravosburg,"4734 Lebanon Church Rd Dravosburg, PA 15034",40.354327,-79.900706,Mr Hoagie,4,4.5,PA,business,...,0,0,0,0,0,0,0,0,0,0
1,UsFtqoBl7naz8AVUBZMjQQ,Dravosburg,"202 McClure St Dravosburg, PA 15034",40.350553,-79.886814,Clancy's Pub,4,3.5,PA,business,...,0,0,0,0,0,0,0,0,0,0
2,3eu6MEFlq2Dg7bQh8QbdOg,Dravosburg,"1 Ravine St Dravosburg, PA 15034",40.350956,-79.889059,Joe Cislo's Auto,3,5.0,PA,business,...,0,0,0,0,0,0,0,0,0,0
3,cE27W9VPgO88Qxe4ol6y_g,Bethel Park,"1530 Hamilton Rd Bethel Park, PA 15234",40.354116,-80.014660,Cool Springs Golf Center,5,2.5,PA,business,...,0,0,0,0,0,0,0,9,1,0
4,HZdLhv6COCleJMo7nPl-RA,Pittsburgh,"301 South Hills Village Pittsburgh, PA 15241",40.357620,-80.059980,Verizon,5,2.5,PA,business,...,0,0,0,0,0,0,0,0,0,0

Now create df_yelp_3 that only stores restaurants that identify as one of the four types of restaurants we care about.

In [110]:
#Write your code here
df_yelp_3 = sqldf("SELECT * FROM df_yelp_2\
                    WHERE (Pizza + Mexican + Burgers + Chinese) = 1  ")

df_yelp_3.head()

,business_id,city,full_address,latitude,longitude,name,review_count,stars,state,type,...,Barbeque,Vietnamese,Asian Fusion,Diners,Greek,Vegetarian,Number_of_Checkins,Number_of_Tips,Number_of_Tip_Likes,Sum_Types
0,wJr6kSA5dchdgOdwH6dZ2w,Carnegie,"2100 Washington Pike Carnegie, PA 15106",40.387512,-80.093215,Kings Family Restaurant,8,3.5,PA,business,...,0,0,0,0,0,0,15,1,0,3
1,SQ0j7bgSTazkVQlF5AnqyQ,Carnegie,"214 E Main St Carnegie Carnegie, PA 15106",40.408347,-80.084962,Don Don Chinese Restaurant,9,2.5,PA,business,...,0,0,0,0,0,0,5,2,1,1
2,t_gan0EXAw8csKIeFyazJw,Homestead,"820 Amity St Homestead Homestead, PA 15120",40.406705,-79.910527,Homestead Capri Pizza,3,3.5,PA,business,...,0,0,0,0,0,0,3,0,0,2
3,6ilJq_05xRgek_8qUp36-g,Munhall,"650 E Waterfront Dr Homestead Munhall, PA 15120",40.413496,-79.904456,Steak 'n Shake,48,2.0,PA,business,...,0,0,0,0,0,0,103,11,0,2
4,W7ysp8GLCBrs0GXIVwAcBQ,Homestead,"610 William Marks Way Homestead Homestead, PA ...",40.409710,-79.901800,Wendy's,5,2.0,PA,business,...,0,0,0,0,0,0,9,0,0,2

Use SQL to greate df_yelp_4 that is the same as df_yelp_3 with a column "Restaurant_Type" that simply identifies the restaurant type.

In [111]:
#Write you code here
df_yelp_4 = sqldf("SELECT *, CASE WHEN Mexican =1 THEN 'Mexican' WHEN Pizza=1 THEN 'Pizza' WHEN Burgers=1 THEN 'Burger' ELSE 'Chinese' END AS Restaurant_Type FROM df_yelp_3 ")

df_yelp_4.head()

,business_id,city,full_address,latitude,longitude,name,review_count,stars,state,type,...,Vietnamese,Asian Fusion,Diners,Greek,Vegetarian,Number_of_Checkins,Number_of_Tips,Number_of_Tip_Likes,Sum_Types,Restaurant_Type
0,wJr6kSA5dchdgOdwH6dZ2w,Carnegie,"2100 Washington Pike Carnegie, PA 15106",40.387512,-80.093215,Kings Family Restaurant,8,3.5,PA,business,...,0,0,0,0,0,15,1,0,3,Burger
1,SQ0j7bgSTazkVQlF5AnqyQ,Carnegie,"214 E Main St Carnegie Carnegie, PA 15106",40.408347,-80.084962,Don Don Chinese Restaurant,9,2.5,PA,business,...,0,0,0,0,0,5,2,1,1,Chinese
2,t_gan0EXAw8csKIeFyazJw,Homestead,"820 Amity St Homestead Homestead, PA 15120",40.406705,-79.910527,Homestead Capri Pizza,3,3.5,PA,business,...,0,0,0,0,0,3,0,0,2,Pizza
3,6ilJq_05xRgek_8qUp36-g,Munhall,"650 E Waterfront Dr Homestead Munhall, PA 15120",40.413496,-79.904456,Steak 'n Shake,48,2.0,PA,business,...,0,0,0,0,0,103,11,0,2,Burger
4,W7ysp8GLCBrs0GXIVwAcBQ,Homestead,"610 William Marks Way Homestead Homestead, PA ...",40.409710,-79.901800,Wendy's,5,2.0,PA,business,...,0,0,0,0,0,9,0,0,2,Burger

Next create a column called "Total_Stars" that is stars*review_count. You can just use pandas for this one

In [112]:
#Write your code here
df_yelp_4["Total_Stars"] = df_yelp_4["review_count"]*df_yelp_4["stars"]

df_yelp_4.head()

,business_id,city,full_address,latitude,longitude,name,review_count,stars,state,type,...,Asian Fusion,Diners,Greek,Vegetarian,Number_of_Checkins,Number_of_Tips,Number_of_Tip_Likes,Sum_Types,Restaurant_Type,Total_Stars
0,wJr6kSA5dchdgOdwH6dZ2w,Carnegie,"2100 Washington Pike Carnegie, PA 15106",40.387512,-80.093215,Kings Family Restaurant,8,3.5,PA,business,...,0,0,0,0,15,1,0,3,Burger,28.0
1,SQ0j7bgSTazkVQlF5AnqyQ,Carnegie,"214 E Main St Carnegie Carnegie, PA 15106",40.408347,-80.084962,Don Don Chinese Restaurant,9,2.5,PA,business,...,0,0,0,0,5,2,1,1,Chinese,22.5
2,t_gan0EXAw8csKIeFyazJw,Homestead,"820 Amity St Homestead Homestead, PA 15120",40.406705,-79.910527,Homestead Capri Pizza,3,3.5,PA,business,...,0,0,0,0,3,0,0,2,Pizza,10.5
3,6ilJq_05xRgek_8qUp36-g,Munhall,"650 E Waterfront Dr Homestead Munhall, PA 15120",40.413496,-79.904456,Steak 'n Shake,48,2.0,PA,business,...,0,0,0,0,103,11,0,2,Burger,96.0
4,W7ysp8GLCBrs0GXIVwAcBQ,Homestead,"610 William Marks Way Homestead Homestead, PA ...",40.409710,-79.901800,Wendy's,5,2.0,PA,business,...,0,0,0,0,9,0,0,2,Burger,10.0

For each restaurant type and each state compute the sum of total_stars and review_count.  Use SQL and store result in a dataframe called df_yelp_5

In [113]:
#Write your code here
df_yelp_5 = sqldf("SELECT state, Restaurant_Type, SUM(Total_Stars) AS Sum_Stars, SUM(review_count) Total_Reviews FROM df_yelp_4\
                    GROUP BY state, Restaurant_Type")

df_yelp_5

   state Restaurant_Type  Sum_Stars  Total_Reviews
0     AZ          Burger   120791.5          33918
1     AZ         Chinese    99822.0          27998
2     AZ         Mexican   268433.5          74036
3     AZ           Pizza   225068.5          59653
4     BW          Burger      544.5            156
5     BW         Chinese      858.0            237
6     BW         Mexican      410.5            119
7     BW           Pizza     2975.5            831
8     IL          Burger     1279.5            402
9     IL         Chinese     3850.0           1012
10    IL         Mexican     4773.0           1246
11    IL           Pizza     4524.5           1232
12    NC          Burger    26393.5           7315
13    NC         Chinese    12739.5           3729
14    NC         Mexican    28783.5           8146
15    NC           Pizza    26689.0           7377
16    NV          Burger   144710.0          40011
17    NV         Chinese   111300.0          32307
18    NV         Mexican   171428.5          46259
19    NV           Pizza   147605.0          39916
20    PA          Burger     9805.5           2788
21    PA         Chinese    11836.5           3399
22    PA         Mexican    12872.5           3620
23    PA           Pizza    22716.0           6241
24    QC          Burger     1180.5            322
25    QC         Chinese      851.5            257
26    QC         Mexican      353.5             99
27    QC           Pizza     2345.5            625
28    WI          Burger    10053.0           2748
29    WI         Chinese     8069.0           2324
30    WI         Mexican     9793.5           2840
31    WI           Pizza    12736.0           3422

Add a column that is called "Avg_Stars" = "Sum_Stars"/"Total_Reviews" to df_yelp_5 using pandas.

In [114]:
#Write your code here
df_yelp_5["Avg_Stars"] = df_yelp_5["Sum_Stars"]/df_yelp_5["Total_Reviews"]

df_yelp_5

   state Restaurant_Type  Sum_Stars  Total_Reviews  Avg_Stars
0     AZ          Burger   120791.5          33918   3.561280
1     AZ         Chinese    99822.0          27998   3.565326
2     AZ         Mexican   268433.5          74036   3.625716
3     AZ           Pizza   225068.5          59653   3.772962
4     BW          Burger      544.5            156   3.490385
5     BW         Chinese      858.0            237   3.620253
6     BW         Mexican      410.5            119   3.449580
7     BW           Pizza     2975.5            831   3.580626
8     IL          Burger     1279.5            402   3.182836
9     IL         Chinese     3850.0           1012   3.804348
10    IL         Mexican     4773.0           1246   3.830658
11    IL           Pizza     4524.5           1232   3.672484
12    NC          Burger    26393.5           7315   3.608134
13    NC         Chinese    12739.5           3729   3.416331
14    NC         Mexican    28783.5           8146   3.533452
15    NC           Pizza    26689.0           7377   3.617866
16    NV          Burger   144710.0          40011   3.616755
17    NV         Chinese   111300.0          32307   3.445074
18    NV         Mexican   171428.5          46259   3.705841
19    NV           Pizza   147605.0          39916   3.697891
20    PA          Burger     9805.5           2788   3.517037
21    PA         Chinese    11836.5           3399   3.482348
22    PA         Mexican    12872.5           3620   3.555939
23    PA           Pizza    22716.0           6241   3.639801
24    QC          Burger     1180.5            322   3.666149
25    QC         Chinese      851.5            257   3.313230
26    QC         Mexican      353.5             99   3.570707
27    QC           Pizza     2345.5            625   3.752800
28    WI          Burger    10053.0           2748   3.658297
29    WI         Chinese     8069.0           2324   3.472031
30    WI         Mexican     9793.5           2840   3.448415
31    WI           Pizza    12736.0           3422   3.721800

Write one final query to find every state's favorite restaurant type out of the four proposed options.

In [116]:
final_result = sqldf("SELECT state, Restaurant_Type, MAX(Avg_Stars) As Max_Stars FROM df_yelp_5 GROUP BY state")

final_result

  state Restaurant_Type  Max_Stars
0    AZ           Pizza   3.772962
1    BW         Chinese   3.620253
2    IL         Mexican   3.830658
3    NC           Pizza   3.617866
4    NV         Mexican   3.705841
5    PA           Pizza   3.639801
6    QC           Pizza   3.752800
7    WI           Pizza   3.721800