In [1]:
import pandas as pd

df_mtcars = pd.read_csv("mtcars.csv")
df_mtcars.head(10)

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [11]:
df_mtcars.columns = df_mtcars.columns.\
                        str.replace("_", " ")
    
df_mtcars["Engine"] = df_mtcars.vs.map({0:"Straight", 1:"L-shaped"})

In [17]:
df_mtcars.columns = df_mtcars.columns.str.replace(" ","_")

In [19]:
def Mazda_Check(car_name):
    
    if "Mazda" in car_name:
        return "Mazda"
    else:
        return "Other"


df_mtcars["Mazda?"] = df_mtcars.car_name.apply(Mazda_Check)

In [20]:
df_mtcars.head()

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,Engine,Mazda?
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,Straight,Mazda
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,Straight,Mazda
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,L-shaped,Other
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,L-shaped,Other
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,Straight,Other

In [31]:
#cool = mpg>=20, hp >=150
def Get_Cool(row):
    
    hp = row["hp"]
    mpg = row["mpg"]
    if hp>=150 and mpg>=15:
        return "cool"
    else:
        return "Other"


df_mtcars["Cool?"] = df_mtcars[["mpg", "hp"]].apply(Get_Cool, axis = 1)

In [32]:
df_mtcars.head()

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,Engine,Mazda?,Cool?
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,Straight,Mazda,Other
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,Straight,Mazda,Other
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,L-shaped,Other,Other
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,L-shaped,Other,Other
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,Straight,Other,cool

In [ ]:
for index, row in df_mtcars.iterrows():
    print(index)
    print(row)
    input("Enter")

0
car_name    Mazda RX4
mpg                21
cyl                 6
disp              160
hp                110
drat              3.9
wt               2.62
qsec            16.46
vs                  0
am                  1
gear                4
carb                4
Engine       Straight
Mazda?          Mazda
Cool?           Other
Name: 0, dtype: object
Enter
1
car_name    Mazda RX4 Wag
mpg                    21
cyl                     6
disp                  160
hp                    110
drat                  3.9
wt                  2.875
qsec                17.02
vs                      0
am                      1
gear                    4
carb                    4
Engine           Straight
Mazda?              Mazda
Cool?               Other
Name: 1, dtype: object